<div class="course">
  <h1>{{course.title}}</h1>
  <img src="{{course.img}}" alt="{{course.title}}">
  <p class="course__price course__price--big">{{course.price}}</p>
  <p class="course__description">{{course.description}}</p>
</div>
